<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/templates/static/css/reset.css">
    <link rel="stylesheet" href="/src/main/resources/templates/static/css/general.css">
    <link rel="stylesheet" href="/src/main/resources/templates/static/css/style-visitante.css">
    <link rel="stylesheet" href="/src/main/resources/templates/static/css/menu-footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="./assets/img/ico/Brasão_PUCRS.ico" type="image/x-icon">
    <title>PUCRS</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="user-img-fundo">
                <img src="/src/main/resources/templates/static/img/user/user-vestibulando.png" alt="" class="user-img">
            </div>
            <div class="full-width">
                <img src="/src/main/resources/templates/static/img/logo/Nome_PUCRS.png" alt="PUCRS" id="pucrs-logo">
            </div>
            <p id="header-p">Principais áreas de nosso campus, esperamos uma boa experiêcia.</p>
        </div>
    </header>

    <main>
        <section class="mapa">
            <div class="container">
                <div class="full-width">
                    <h1>Mapa do campus</h1>
                </div>
                <img src="/src/main/resources/templates/static/img/mapa-temporario.png" alt="#">
            </div>
        </section>


        <section>
            <div class="container">
                <div class="full-width">
                    <p class="referencia-p">Algumas referências de nosso campus</p>
                </div>
                <input type="text" class="referencia-ilustracao">
                <div class="full-width">
                    <input type="text" class="referencia-ilustracao">
                </div>
                <input type="text" class="referencia-ilustracao">
            </div>
        </section>

        <section>
            <div>
                <div class="container">
                    <div class="full-width">
                    <h2 id="texto-escolha">Escolha uma de nossas graduações</h2>
                    </div> 
                    <p id="frase-escolha">E preste o vestibular conosco, ganhe bolsas de até 50% de desconto na sua Graduação!
                    </p>
                </div>

                <div>
                    <div class="container">
                        <h2 class="curso-imagem-texto">GRADUAÇÃO</h2>
                        <div class="full-width">
                            <img src="/src/main/resources/templates/static/img/administração/gestão.png" alt="" class="curso-imagem">
                        </div>
                        <p class="curso-titulo">Gestão Pública:</p>
                        <div class="full-width">
                            <p class="curso-especificacao">Inovação e o Novo Setor Público</p>
                        </div>
                        <a href="/src/main/resources/templates/Cadastros-Login/vestibulando-cadastro.html" class="botao">
                            <button type="submit">Entrar<img src="/src/main/resources/templates/static/img/arrow/Seta.png">
                            </button>
                        </a>
                    </div>

                    <div class="container">
                        <h2 class="curso-imagem-texto">GRADUAÇÃO</h2>
                        <div class="full-width">
                            <img src="/src/main/resources/templates/static/img/gestão/recursos.png" alt="" class="curso-imagem">
                        </div>
                        <p class="curso-titulo">Gestão de Recursos Humanos:</p>    
                        <div class="full-width">
                            <p class="curso-especificacao-1">Desenvolvimento e Avaliação de Desempenho</p>
                        </div>
                            <a href="/src/main/resources/templates/Cadastros-Login/vestibulando-cadastro.html" class="botao">
                                <button type="submit">Entrar<img src="/src/main/resources/templates/static/img/arrow/Seta.png">
                                </button>
                            </a>
                    </div>

                    <div class="container">
                        <h2 class="curso-imagem-texto">GRADUAÇÃO</h2>
                        <div class="full-width">
                            <img src="/src/main/resources/templates/static/img/marketing/marketing.png" alt="" class="curso-imagem">
                        </div>
                        <p class="curso-titulo">Marketing:</p>
                        <div class="full-width">    
                            <p class="curso-especificacao">Influência e Mídias Digitais</p>
                        </div>
                        <a href="/src/main/resources/templates/Cadastros-Login/vestibulando-cadastro.html" class="botao">
                            <button type="submit">Entrar<img src="/src/main/resources/templates/static/img/arrow/Seta.png">
                            </button>
                        </a>
                    </div>

                    <div class="container"> 
                        <h2 class="curso-imagem-texto">GRADUAÇÃO</h2>
                        <div class="full-width">
                            <img src="/src/main/resources/templates/static/img/negócios/exterior.png" alt="" class="curso-imagem">
                        </div>
                        <p class="curso-titulo">Comércio Exterior:</p>
                        <div class="full-width">    
                            <p class="curso-especificacao">Negócios e Operações Globais</p>
                        </div>
                        <a href="/src/main/resources/templates/Cadastros-Login/vestibulando-cadastro.html" class="botao">
                            <button type="submit">Entrar<img src="/src/main/resources/templates/static/img/arrow/Seta.png">
                            </button>
                        </a>
                    </div>

                    <div class="container">
                        <h2 class="curso-imagem-texto">GRADUAÇÃO</h2>
                        <div class="full-width">
                            <img src="/src/main/resources/templates/static/img/gestão/comercial.png" alt="" class="curso-imagem">
                        </div>
                        <p class="curso-titulo">Gestão Comercial:</p>
                        <div class="full-width">
                            <p class="curso-especificacao">Vendas e Negócios Digitais</p>
                        </div>
                        <a href="/src/main/resources/templates/Cadastros-Login/vestibulando-cadastro.html" class="botao">
                            <button type="submit">Entrar<img src="/src/main/resources/templates/static/img/arrow/Seta.png">
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>