.filtro select{
    color: #013C67;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    width: 311px;
    height: 44px;
    border-radius: 0px 7px 7px 16px;
    border: 2px solid rgba(89, 185, 217, 0.5);
    z-index: 1;
    box-shadow: -2px 5px 11px 0px #5a5757;
    position: relative;
    top: 27px;
}

.filtro select:hover{
    background-color: white;
    color: #013C67;
}

.filtro option{
    font-size: 16px;
    font-weight: 500;
}

