body{
    background: #023D68;
    font-family: 'Montserrat', sans-serif;
}


#conta{
    color: white;
    font-size: 13px;
    line-height: 18px;
    margin-top: 7px;
}

.form input{
    width: 212px;
    height: 48px;
    background: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    outline: none;
    padding: 0 10px;
    font-size: 20px;
}

.form-1{
    color: white;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 15px;
    padding: 0 10px;
    background-color: #023D68;
    margin-top: 6px;
    position: relative;
    top: 6px;
    right: 71px;
}

.form-2{
    color: white;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 15px;
    padding: 0 10px;
    background-color: #023D68;
    margin-top: 42px;
    position: relative;
    top: 6px;
    right: 71px;
}


input[type="text"]{   
    color: white;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}


input[type="password"]{
    color: white;
    font-size: 14px;
}


input[type="email"]{
    color: white;
    font-size: 14px;
}

#senha-esqueci{
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    position:relative;
    right: 74px;
}

#botao-login{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 15px;
    line-height: 18.15px;
    width: 94px;
    height: 27px;
    background-color: #0473B2;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
    position: relative;
    left: 140px;
}

#botao-cadastro{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 15px;
    line-height: 18.15px;
    width: 94px;
    height: 27px;
    background-color: #0473B2;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
    position: relative;
    left: 70px;
}
