<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/templates/static/css/reset.css">
    <link rel="stylesheet" href="/src/main/resources/templates/static/css/general.css">
    <link rel="stylesheet" href="/src/main/resources/templates/static/css/mapa.css">
    <link rel="stylesheet" href="/src/main/resources/templates/static/css/menu-footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/src/main/resources/templates/static/img/ico/Brasão_PUCRS.ico" type="image/x-icon">
    <title>PUCRS - Mapa</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="user-img-fundo">
                <img src="/src/main/resources/templates/static/img/user/user-vestibulando.png" alt="" class="user-img">
            </div>
        </div>
    </header>

    <main>
        <section class="mapa">
            <div class="container">
                <div class="full-width">
                    <h1>Mapa do campus</h1>
                </div>
                <img src="/src/main/resources/templates/static/img/mapa-temporario.png" alt="#">
            </div>
        </section>

        <div class="container">
            <section class="prova-info">
                <div class="full-width">
                    <section class="prova-flex-1">
                        <h2>Prova</h2>
                        <input type="text">
                    </section>
                </div>

                <section class="prova-flex-1">
                    <h2>Graduação</h2>
                    <input type="text">
                </section>

                <div class="full-width">
                    <section class="prova-flex-2">
                        <section class="prova-flex-2_1">
                            <h2>Horário</h2>
                            <input type="text">
                        </section>
                        <section class="prova-flex-2_2">
                            <h2>Data</h2>
                            <input type="text">
                        </section>
                        <section class="prova-flex-2_3">
                            <h2>Local</h2>
                            <input type="text">
                        </section>
                        <section class="prova-flex-2_4">
                            <h2>Prédio</h2>
                            <input type="text">
                        </section>
                    </section>
                </div>
            </section>
        </div>

        <section class="edital__prova">
            <div class="container">
                <div class="full-width">
                    <h2 class="edital__prova-titulo">Edital para Prova:</h2>
                </div>
                <section class="edital__prova-caixa-texto">
                    <p class="edital__prova-texto">-A prova terá sua duração de 6h;</p>
                    <p class="edital__prova-texto">-Poderá levar alimento sem rotulos;</p>
                    <p class="edital__prova-texto">-Levar caneta transparente de cor azul ou preta somente;</p>
                    <p class="edital__prova-texto">-Proibição de objetos eletrônicos em sala durante a prova, qualquer
                        uso será retirado a prova e zerada;</p>
                    <p class="edital__prova-texto">-O vestibulando terá sua libaração mais cedo somente as 15:00;</p>
                    <p class="edital__prova-texto">-Terá 2 instrutores e 3 supervisores;</p>
                </section>
                <div class="full-width">
                    <h2 class="edital__prova-rodape">Mais informações somente em sala.</h2>
                </div>
                <section class="edital__prova-linha">
                    <section class="linha-prova"><span></span></section>
                </section>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <section class="footer-confi">
                <div class="full-width">
                    <section class="linha__footer">
                        <section class="linha"><span></span></section>
                    </section>
                </div>
                <section class="menu">
                    <div class="container">
                        <a href="/src/main/resources/templates/Vestibulando/Index-vestibulando.html"><img src="/src/main/resources/templates/static/img/menu-icons/home.png" alt="Home"></a>
                        <a href="/src/main/resources/templates/Vestibulando/curso-administracao.html"><img src="/src/main/resources/templates/static/img/menu-icons/prova.png" alt="Graduações" class="img-meio"></a>
                        <section class="icon-ativo">
                            <img src="/src/main/resources/templates/static/img/menu-icons/mapa.png" alt="Mapa">
                            <div class="container">
                                <span class="active"></span>
                            </div>
                        </section>
                    </div>
                </section>
            </section>
        </div>
    </footer>
</body>

</html>
