<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/templates/static/css/reset.css">
    <link rel="stylesheet" href="/src/main/resources/templates/static/css/general.css">
    <link rel="stylesheet" href="/src/main/resources/templates/static/css/prova.css">
    <link rel="stylesheet" href="/src/main/resources/templates/static/css/menu-footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/src/main/resources/templates/static/img/ico/Brasão_PUCRS.ico" type="image/x-icon">
    <title>PUCRS - Resultado Prova</title>
</head>

<body>
    <header>
        <section>
            <div class="container">
                <div class="full-width">
                    <h1 id="prova-h1">Sua prova foi realizada com sucesso.</h1>
                </div>
                <h2 id="prova-h2">Lista de aprovados!</h2>
            </div>
        </section>
    </header>

    <main>
        <div class="container">
            <div class="full-width">
                <h2 id="resultado-titulo">Resultado das provas</h2>
            </div>
            <section class="resultado-flex">
                <div class="resultado-nome">
                    <h2>Nome do aluno</h2>
                    <p>Alice Fonseca da Costa</p>
                    <p>Alan de Bernard Silva</p>
                    <p>Alex Frances Martes</p>
                    <p>Bernardo Lopes da Silva</p>
                    <p>Breno Faltinsck</p>
                    <p>Cleberson Martine Lopes</p>
                    <p>Carol Santos Rodrigues</p>
                    <p>Catya Reder Martes</p>
                    <p>Gabriel Machado Lupin</p>
                    <p>Gabriela Rosa de Campos</p>
                    <p>Ingridi Garcias</p>
                    <p>Istefani de Moura</p>
                    <p>Katha Heder</p>
                    <p>Larissa Romenia Santiago</p>
                    <p>Leonardo de Frada</p>
                    <p>Nathali Porter da Silva</p>
                    <p>Natalia de Augustos Franca</p>
                </div>

                <div class="resultado-final">
                    <h2>Resultado final</h2>
                    <p>Aprovado</p>
                    <p>Aprovado</p>
                    <p>Reprovado</p>
                    <p>Aprovado</p>
                    <p>Aprovado</p>
                    <p>Reprovado</p>
                    <p>Aprovado</p>
                    <p>Aprovado</p>
                    <p>Aprovado</p>
                    <p>Aprovado</p>
                    <p>Aprovado</p>
                    <p>Aprovado</p>
                    <p>Aprovado</p>
                    <p>Aprovado</p>
                    <p>Aprovado</p>
                    <p>Reprovado</p>
                    <p>Aprovado</p>
                </div>
            </section>
        </div>

        <div class="container">
            <div class="full-width">
                <h2 id="prova-resultado">Parabéns você passou!</h2>
            </div>
            <section class="prova-info">
                <p class="prova-titulo">Suas informações estarão sempre a sua disposição!</p>

                <div class="full-width">
                    <section class="prova-flex-1">
                        <h2>Graduação</h2>
                        <input type="text">
                    </section>
                </div>
                <div class="full-width">
                    <section class="prova-flex-2">
                        <section class="prova-flex-2_1">
                            <h2>Horário</h2>
                            <input type="text">
                        </section>
                        <section class="prova-flex-2_2">
                            <h2>Data</h2>
                            <input type="text">
                        </section>
                        <section class="prova-flex-2_3">
                            <h2>Local</h2>
                            <input type="text">
                        </section>
                        <section class="prova-flex-2_4">
                            <h2>Prédio</h2>
                            <input type="text">
                        </section>
                    </section>
                </div>
            </section>
        </div>
    </main>

    <footer>
        <div class="container">
            <section class="footer-confi">
                <div class="full-width">
                    <section class="linha__footer">
                        <section class="linha"><span></span></section>
                    </section>
                </div>
                <section class="menu">
                    <div class="container">
                        <a href="/src/main/resources/templates/Vestibulando/Index-vestibulando.html"><img src="/src/main/resources/templates/static/img/menu-icons/home.png" alt="Home"></a>
                        <a href="/src/main/resources/templates/Vestibulando/curso-administracao.html"><img src="/src/main/resources/templates/static/img/menu-icons/prova.png" alt="Graduações" class="img-meio"></a>
                        <a href="/src/main/resources/templates/Vestibulando/vestibulando-mapa.html"><img src="/src/main/resources/templates/static/img/menu-icons/mapa.png" alt="Mapa"></a>
                        </section>
                    </div>
                </section>
            </section>
        </div>
    </footer>
</body>

</html>