<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/templates/static/css/reset.css">
    <link rel="stylesheet" href="/src/main/resources/templates/static/css/general.css">
    <link rel="stylesheet" href="/src/main/resources/templates/static/css/graduacao.css">
    <link rel="stylesheet" href="/src/main/resources/templates/static/css/menu-footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/src/main/resources/templates/static/img/ico/Brasão_PUCRS.ico" type="image/x-icon">
    <title>PUCRS - Minha Graduação</title>
</head>

<body>
    <header>
        <div class="container">
            <section class="curso__graduacao">
                <h1 class="curso__graduacao-h1">Marketing:</h1>
                <p class="curso__graduacao-p">Material de acompanhamento</p>
                <h2 class="curso__graduacao-img-texto">GRADUAÇÃO</h2>
                <img src="/src/main/resources/templates/static/img/marketing/marketing.png" alt="#" class="curso__graduacao-img">
            </section>
        </div>
    </header>

    <main>
        <div class="container">
            <section class="info-grade-curricular">
                <div class="full-width">
                    <h2>Sua grade curricular</h2>
                </div>
                <p>Planejamento de aulas do seu Semestre!</p>
            </section>
        </div>

        <div class="container">
            <section class="semestre-flex-titulo">
                <h2 class="semestre-titulo" id="titulo-separacao">1° Semestre</h2>
                <h2 class="semestre-titulo">2° Semestre</h2>
            </section>
            <div class="full-width">
                <section class="semestre-flex">
                    <section class="borda-cor">
                        <div class="container">
                            <div class="semestre">
                                <section class="grade-separacao">
                                    <h2 class="grade-curso">Princípio de marketing</h2>
                                    <p class="grade-aula">(80 AULAS)</p>
                                </section>
                                <section class="grade-separacao">
                                    <h2 class="grade-curso">Tecnologia de apresentação e portifólio</h2>
                                    <p class="grade-aula">(80 AULAS)</p>
                                </section>
                                <section class="grade-separacao">
                                    <h2 class="grade-curso">Tecnologia da informação e comunicação</h2>
                                    <p class="grade-aula">(40 AULAS)</p>
                                </section>
                                <section class="grade-separacao">
                                    <h2 class="grade-curso">Administração geral</h2>
                                    <p class="grade-aula">(80 AULAS)</p>
                                </section>
                                <section class="grade-separacao">
                                    <h2 class="grade-curso">Matemática discreta</h2>
                                    <p class="grade-aula">(80 AULAS)</p>
                                </section>
                                <section class="grade-separacao">
                                    <h2 class="grade-curso">Interpretação e produção de texto</h2>
                                    <p class="grade-aula">(80 AULAS)</p>
                                </section>
                                <section class="grade-separacao">
                                    <h2 class="grade-curso">Inglês I</h2>
                                    <p class="grade-aula">(40 AULAS)</p>
                                </section>
                            </div>

                            <div class="semestre">
                                <section class="grade-separacao">
                                    <h2 class="grade-curso">Projeto integrado I</h2>
                                    <p class="grade-aula">(80 AULAS)</p>
                                </section>
                                <section class="grade-separacao">
                                    <h2 class="grade-curso">Algoritmos e Lógica de propaganda</h2>
                                    <p class="grade-aula">(80 AULAS)</p>
                                </section>
                                <section class="grade-separacao">
                                    <h2 class="grade-curso">Pesquisa mercadológica</h2>
                                    <p class="grade-aula">(80 AULAS)</p>
                                </section>
                                <section class="grade-separacao">
                                    <h2 class="grade-curso">Gestão de projetos</h2>
                                    <p class="grade-aula">(80 AULAS)</p>
                                </section>
                                <section class="grade-separacao">
                                    <h2 class="grade-curso">Estatística</h2>
                                    <p class="grade-aula">(80 AULAS)</p>
                                </section>
                                <section class="grade-separacao">
                                    <h2 class="grade-curso">Metodologia de pesquisa científico - técnico</h2>
                                    <p class="grade-aula">(40 AULAS)</p>
                                </section>
                                <section class="grade-separacao">
                                    <h2 class="grade-curso">Inglês II</h2>
                                    <p class="grade-aula">(40 AULAS)</p>
                                </section>
                            </div>
                    </section>
                </section>
            </div>
        </div>
        </div>

        <div class="container">
            <div class="full-width">
                <h2 class="prova-titulo">Suas informações</h2>
            </div>
            <section class="prova-info">
                <div class="full-width">
                    <section class="prova-flex-1">
                        <h2>Prova</h2>
                        <input type="text">
                    </section>
                </div>

                <div class="full-width">
                    <section class="prova-flex-1">
                        <h2>Graduação</h2>
                        <input type="text">
                    </section>
                </div>
                <div class="full-width">
                    <section class="prova-flex-2">
                        <section class="prova-flex-2_1">
                            <h2>Horário</h2>
                            <input type="text">
                        </section>
                        <section class="prova-flex-2_2">
                            <h2>Data</h2>
                            <input type="text">
                        </section>
                        <section class="prova-flex-2_3">
                            <h2>Local</h2>
                            <input type="text">
                        </section>
                        <section class="prova-flex-2_4">
                            <h2>Prédio</h2>
                            <input type="text">
                        </section>
                    </section>
                </div>
            </section>
        </div>
    </main>

    <footer>
        <div class="container">
            <section class="footer-confi">
                <div class="full-width">
                    <section class="linha__footer">
                        <section class="linha"><span></span></section>
                    </section>
                </div>
                <section class="menu">
                    <div class="container">
                        <a href="/src/main/resources/templates/Vestibulando/Index-vestibulando.html"><img src="/src/main/resources/templates/static/img/menu-icons/home.png" alt="Home"></a>
                        <a href="./curso-administracao.html"><img src="/src/main/resources/templates/static/img/menu-icons/prova.png"
                                alt="Graduações" class="img-meio"></a>
                        <a href="/src/main/resources/templates/Vestibulando/vestibulando-mapa.html"><img src="/src/main/resources/templates/static/img/menu-icons/mapa.png" alt="Mapa"></a>
                    </div>
                </section>
            </section>
        </div>
    </footer>
</body>

</html>